@font-face {
  font-family: 'poppinsregular';
  src: url('../fonts/poppinsregular/poppins-regular-webfont.eot');
  src: url('../fonts/poppinsregular/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/poppinsregular/poppins-regular-webfont.woff2') format('woff2'),
  url('../fonts/poppinsregular/poppins-regular-webfont.woff') format('woff'),
  url('../fonts/poppinsregular/poppins-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsextrabold';
  src: url('../fonts/poppinsextrabold/poppins-extrabold-webfont.eot');
  src: url('../fonts/poppinsextrabold/poppins-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/poppinsextrabold/poppins-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/poppinsextrabold/poppins-extrabold-webfont.woff') format('woff'),
  url('../fonts/poppinsextrabold/poppins-extrabold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
