@import "colors";
@mixin d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin transition($prop: all, $duration: 0.4s) {
  -webkit-transition: $prop $duration;
  -o-transition: $prop $duration;
  -moz-transition: $prop $duration;
  transition: $prop $duration;
}

@mixin button {
  @include transition;
  margin-top: 20px;
  font-family: poppinsextrabold, Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
  background: $green;
  font-size: 15px;
  color: $white;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2px;

  &.disabled {
    cursor: auto;
    background-color: $disabled;
    &:hover {
      background-color: $disabled;
    }
  }

  &:hover {
    background-color: $grey2;
  }
}
